
.Bee {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
}


.quizComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}

.quizDeclaration {
    display: flex;
    padding: 30px;
    color: white;
    background-color: #95afc0; /*#ffc048*/
    border-radius: 15px;
    color: #130F40;
    font-size: 20px;
    margin: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.quizQuestionsMapped {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}