.quizDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px;
    margin: auto;
    background: #ff6e7f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 16px;
    padding: 10px;

}

.question {
    padding: 10px;
    margin: 10px;
}