* {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-weight: 100px;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.inactive {
  pointer-events: none;
}

button {
  padding: 10px;
  margin: 7px;
  border-radius: 10px;
  background-color: #f9ca24;
}

.buttonDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  margin: auto;
}

.quizDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.question {
  padding: 10px;
  margin: 10px 5px;
}